@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Waiting+for+the+Sunrise&display=swap');

html, body, .website {
    margin: 0;
    padding: 0;
    max-height: 100%;
    min-height: 100vh;
    width: 100%;
}

h1 {
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Pirata One', cursive !important;
}

a {
    font-family: 'Waiting for the Sunrise', cursive !important;
    font-weight: 600;
}

.website {
    display: grid;
    grid-template-rows: max-content 1fr max-content ;
    background-color: #ceb2ff;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #ceb2ff;
}

::-webkit-scrollbar-thumb {
    background: #864efc;
}

::selection {
    color: white;
    background: #864efc;
}