html, body, .website {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.website {
    display: grid;
    grid-template-rows: max-content 1fr max-content ;
    background-color: #ceb2ff;
}