.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opening {
    width: fit-content;
    height: fit-content;
}

.opening h1, .opening h2 {
    text-align: center;
    margin: 0;
    padding: 0
}

.opening h1 {
    font-size: 8rem;
}

.opening h2 {
    font-size: 3rem;

}


@media screen and (max-width: 700px) {

    .opening h1 {
        font-size: 6rem;
    }

    .opening h2 {
        font-size: 2.5rem;
    }

}